<main class="main">
  <app-slider></app-slider>
  <h4 class="advantages">Наши преимущества</h4>
  <ul class="main__list">
    <li class="main__item">
      <img src="../../../assets/icons/advantage-1.png" class="main__item_img">
      <div class="main__item_info">
        <strong>Выбирать — одно удовольствие</strong>
        <span>В нашем каталоге вы найдете подробные и достоверные описания и фотографии товаров. Наши профессиональные консультанты всегда готовы помочь вам советом и предоставить дополнительную информацию.</span>
      </div>
    </li>
    <li class="main__item">
      <img src="../../../assets/icons/advantage-2.png" class="main__item_img">
      <div class="main__item_info">
        <strong>Заказывать — просто</strong>
        <span>Мы принимаем онлайн-заказы круглосуточно через сайт, а с 8:00 до 22:00 можно обратиться к специалистам в call-центр, по Viber и Telegram. Мы оформим заказ максимально быстро!</span>
      </div>
      </li>
    <li class="main__item">
      <img src="../../../assets/icons/advantage-3.png" class="main__item_img">
      <div class="main__item_info">
        <strong>Всегда честные цены</strong>
        <span>Вы можете быть уверены: информация о цене и наличии товара всегда актуальна. Данные, указанные на сайте, обновляются автоматически.</span>  
      </div>
      </li>
    <li class="main__item">
      <img src="../../../assets/icons/advantage-4.png" class="main__item_img">
      <div class="main__item_info">
        <strong>Собственные пункты выдачи</strong>
        <span>Самовывоз — это возможность получить покупку в кратчайшие сроки из пунктов выдачи заказов и сэкономить на доставке. Каждый день для вас работают более 30 пунктов выдачи заказов по всей Беларуси.</span>  
      </div>
      </li>
  </ul>
</main>
